.git
.idea
.vs
**/bin
**/obj
**/node_modules
**/dist
**/data
**/TestResults
**/coverage
**/*.db*
**/*.sqlite*
**/.env
**/.env.*
!**/.env.example
**/appsettings.Local.json
**/appsettings.*.local.json
**/*.user
**/*.suo
**/*.DotSettings.user
